* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
}
*:focus {
  border: none;
  outline: none;
}
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  /* overflow: hidden; */
  display: grid;
  grid-template-columns: 0fr 1fr;
  grid-template-rows: 0fr 1fr;
  grid-auto-flow: row;
  background: #e3ebe9;
  width: 100%;
  height: 100%;
}
.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  color: white;
  background: #03a9f4;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sidebar > .title {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 20px;
  font-size: 1.5rem;
}
.sidebar > .title img {
  width: 25px;
  filter: invert(100%);
}
.sidebar > ul {
  display: flex;
  flex-direction: column;
}
.sidebar > ul > li > a > img {
  filter: invert(100%);
  width: 20px;
}
.sidebar > ul > li.active {
  background: white;
}
.sidebar > ul > li.active > a > img {
  filter: none;
}
.sidebar > ul > li.active > a,
.sidebar > ul > li.active:hover {
  color: black;
  cursor: default;
  background: white;
}
.sidebar > ul > li > a {
  color: white;
  display: flex;
  gap: 10px;
  align-items: flex-end;
  padding: 5px 20px;
  font-weight: 600;
  width: 100%;
  font-size: 1rem;
}
.sidebar > ul > li:hover {
  background: #ffffff30;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
}
header {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  background: white;
  padding: 10px;
  box-shadow: 0px 10px 20px 0px #00000010;
}
header > .search-bar {
  flex: auto;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
}
header > .search-bar > img {
  width: 20px;
}
header > .search-bar > input {
  height: 1.5rem;
  width: 100%;
  border-radius: 10px;
  background: #e3ebe9;
}
header > .notifications-button {
  background: none;
  border-radius: 50%;
  transition: 0.1s;
  cursor: pointer;
  height: 30px;
  display: flex;
  justify-content: center;
  width: 30px;
  padding: 5px;
}
header > .notifications-button:hover {
  background: #00000010;
}
header > .notifications-button > img {
  width: 20px;
}
header > .account {
  gap: 10px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  justify-content: end;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  display: inline-flex;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
}
header > .account:hover {
  background-color: #00000010;
}
header > .account > img {
  border-radius: 50%;
  max-width: 100%;
  width: 40px;
  object-fit: contain;
  height: fit-content;
}
.main-container {
  grid-area: 2 / 2 / 4 / 4;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
  column-gap: 20px;
  row-gap: 50px;
  text-overflow: ellipsis;
  font-size: 0.75rem;
  margin-bottom: 30px;
}
.projects-container {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.projects-grid {
  display: grid;
  gap: 20px;
  height: 100%;
  grid-template-columns: 1fr 1fr;
}
.project-card {
  position: relative;
  font-size: 0.9rem;
}
.project-links {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.announcements-board,
.trending-board,
.project-card {
  box-shadow: 5px 5px 10px 0 #00000020;
  background: white;
  height: 100%;
  border-radius: 10px;
  padding: 20px;
}
.announcement-description,
.project-description,
.trending-content {
  color: #525252;
}
h2 {
  margin-bottom: 10px;
}
.announcements-board,
.trending-board {
  display: flex;
  max-width: 17.5rem;
  justify-content: space-between;
  flex-direction: column;
}
.announcement-title {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.announcement-description {
  line-clamp: 2;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
hr {
  border: 1px #f3fbf9 solid;
  border-radius: 5px;
}
